[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AzureAppInsights"]
	path = AzureAppInsights
	url = https://github.com/stefanedwards/azureappinsights
[submodule "lemon"]
	path = lemon
	url = https://github.com/stefanedwards/lemon
